name: CI

on:
  workflow_dispatch:
  pull_request:
    types: [opened, reopened, ready_for_review, synchronize]
    branches:
      - main
  push:
    branches: [develop, master]
  
jobs:
  run-unit-tests:
    name: Build and run unit tests
    
    runs-on: ubuntu-18.04

    permissions:
      id-token: write
      contents: read
      issues: read
      checks: write
      pull-requests: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v2.3.4
        
      - name: sleep
        run: sleep 300

